.partner-section {
  padding: 10px 0;
  background: #ffffff;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 36px;
  color: #17161a;
  margin-bottom: 16px;
  font-weight: 700;
}
.partner-list {
  display: flex;
}
.partner-list img {
  width: 100%;
}
